/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Generics */
h1 {
    color: black;
    font-size: xx-large;
    
}

h2 {
    color: black;
    font-size: x-large;
}

/* Utility */

.main-container {
    max-width: 900px;
    margin: 20px auto;
}

.debug {
    border: 2px dashed red;
}
/* Header */
header.main-header {
    font-size: 11px;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* Header Text */
.toggle-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}


/* Toggle Buttons Webkit */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(26px);
  transform: translateX(15px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Main */

 /* Cards layout */
 
 .cards-layout {
     display: flex;
     min-width: 300px;
     margin-top: 50px;
 }

 mark {
    background-color: #e3e3e3;
    padding: 5px;
    border-radius: 5px;
 }

/* Header cards */
.header-card {
    color: grey;
    font-size: x-small;
    text-align: left;
    
}


/* Plans prices section */
.plans-prices-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Basic Plan Card */

.basic-plan-card, .professional-plan-card, 
.ultimate-plan-card {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 12px -6px;
    border-radius: 10px;
    padding: 35px;
    gap: 20px;
}


.basic-plan-card .price {
    font-size: xx-large;
    font-weight: 600;
    position: relative;
}

.basic-plan-card .price::before {
    content: ' \0024';
    font-size: medium;
}

.basic-plan-card .price::after {
    content: '/mo';
    font-size: x-small;
    color: grey;
}


/*  Basic plan prices Sections */
.plans-prices-section span:not(.price) {
    font-size: x-small;

}

.chose-plan {
    background-color: #6500ff;
    border-style: none;
    color: white;
    padding: 15px;
    width: 200px;
    font-weight: 600;
    border-radius: 10px;
}

/* List */

ul {
    list-style-position: inside;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul i {
    font-size: x-large;
    font-weight: bold;
}

ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}